<section>
    <div class="grid md:grid-cols-[70%_minmax(0,1fr)] grid-cols-1">
      <div>
        <owl-carousel-o [options]="custMainpsliader">
            <ng-template carouselSlide>
                <img src="/images/slider-image-1.jpeg" class="w-full h-[300px] md:h-[300px] sm:h-[100px]" alt="">
            </ng-template> 
            <ng-template carouselSlide>
                <img src="/images/slider-image-2.jpeg" class="w-full h-[300px] md:h-[300px] sm:h-[100px]" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="/images/slider-image-3.jpeg" class="w-full h-[300px] md:h-[300px] sm:h-[100px]" alt="">
            </ng-template> 
        </owl-carousel-o>
      </div>
      <div class="mt-4 md:mt-0">
        <img src="/images/grocery-banner.png" class="w-full h-[150px] md:h-[150px] sm:h-[100px]" alt="" />
        <img src="/images/slider-2.jpeg" class="w-full h-[150px] md:h-[150px] sm:h-[100px]" alt="" />
      </div>
    </div>
</section><section>
    <h2 class="text-2xl mb-2">popular categories</h2>

    <owl-carousel-o [options]="customOptions">
        <h2 class="text-3xl">popular categories</h2>
        @for (item of category; track item._id) {
            <ng-template carouselSlide>
                <div>
                    <img [src]="item.image" class="w-full h-[250px]" alt="">
                    <h3 class="text-green-600">{{item.name}}</h3>
                </div>
            </ng-template>
        }
    </owl-carousel-o>
    
</section>
<app-products></app-products>