<section>
    <h2 class="text-3xl my-4">popular categories</h2>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 text-center">
        @for (item of category; track item._id) {
        <div class="card border border-green-400/50 rounded-md overflow-hidden shadow-lg
            relative transition-all duration-700 ease-in-out transform
            hover:shadow-md hover:shadow-green-500 hover:scale-105">
            <div>
                <img [src]="item.image" class="w-full object-contain h-[250px]" alt="">
                <h3 class="text-green-600">{{item.name}}</h3>
            </div>
        </div>
        }
    </div>
</section>